* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conatiner__left__block2__ch2__select_1 {
  top: 52%;
}

.conatiner__left__block2__ch2__select_2 {
  top: 65%;
}

.conatiner__left__block2__ch2__select_3 {
  top: 78%;
}

.conatiner__left__block2__ch2__select {
  width: 415px;
  height: 130px;
  box-shadow: 0 0 3px rgb(135, 135, 135);
  background-color: white;
  z-index: 5;
  display: none;
  position: absolute;
  left: calc(10% + 50px);
}
.conatiner__left__block2__ch2__select .conatiner__left__block2__ch2:hover {
  background-color: rgb(239, 82, 82);
}
.conatiner__left__block2__ch2__select .conatiner__left__block2__ch2 {
  width: 100%;
  height: 65px;
  background-color: white;
  position: relative;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrap {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .conatiner {
  width: 80%;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 60px;
  box-shadow: 0 0 10px rgb(147, 147, 147);
}
.wrap .conatiner .conatiner__left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px;
  padding-right: 80px;
  padding-bottom: 10%;
  font-family: "Times New Roman", Times, serif;
}
.wrap .conatiner .conatiner__left .conatiner__left__text1 {
  width: 90%;
  font-size: 34px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}
.wrap .conatiner .conatiner__left .conatiner__left__block2 {
  width: 100%;
  height: 65px;
  box-shadow: 0 0 3px rgb(135, 135, 135);
  border-radius: 10px;
}
.wrap .conatiner .conatiner__left .conatiner__left__block2 .conatiner__left__block2__text2 {
  font-weight: 600;
}
.wrap .conatiner .conatiner__left .conatiner__left__block2 .conatiner__left__block2__ch1 {
  width: 100%;
  height: 65px;
  z-index: 1;
  position: relative;
  padding: 10px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrap .conatiner .conatiner__left .conatiner__left__block2 .conatiner__left__block2__ch1 .conatiner__left__block2__text {
  z-index: 1;
  color: rgb(191, 191, 191);
}
.wrap .conatiner .conatiner__left .conatiner__left__block1 {
  width: 100%;
  height: 65px;
  box-shadow: 0 0 3px rgb(135, 135, 135);
  border-radius: 10px;
  padding: 5px 10px;
  z-index: 1;
}
.wrap .conatiner .conatiner__left .conatiner__left__block1 .conatiner__left__block1__inp::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -6px;
  border-radius: 50%;
  background: #ff4500;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
  border: 1px solid red;
}
.wrap .conatiner .conatiner__left .conatiner__left__block1 .conatiner__left__block1__text {
  color: rgb(191, 191, 191);
  z-index: 1;
}
.wrap .conatiner .conatiner__left .conatiner__left__block1 .conatiner__left__block1__text2 {
  font-weight: 600;
  margin-top: 5px;
  z-index: 1;
}
.wrap .conatiner .conatiner__left .conatiner__left__block1 .conatiner__left__block1__inp {
  position: relative;
  bottom: -5px;
  color: red;
  width: 100%;
  background-color: red;
}
.wrap .conatiner .conatiner__right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  padding: 50px;
  padding-bottom: 20%;
  background-color: rgb(231, 231, 231);
  font-family: "Times New Roman", Times, serif;
}
.wrap .conatiner .conatiner__right .conatiner__right__box {
  margin-top: 20px;
}
.wrap .conatiner .conatiner__right .conatiner__right__box .conatiner__right__box__text2 {
  font-size: 28px;
  font-weight: 600;
}
.wrap .conatiner .conatiner__right .conatiner__right__box .conatiner__right__box__text1 {
  color: rgb(164, 164, 164);
  margin-bottom: 10px;
}
.wrap .conatiner .conatiner__right .conatiner__right__money {
  font-weight: 600;
  font-size: 44px;
  width: 100%;
  border-bottom: 1px solid rgb(178, 178, 178);
  margin-bottom: 50px;
  margin-top: 20px;
}
.wrap .conatiner .conatiner__right .conatiner__right__text1 {
  font-weight: 600;
  font-size: 32px;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 1px;
  background-color: red;
}

@media screen and (max-width: 900px) {
  .wrap .conatiner {
    flex-direction: column;
    height: 180vh;
  }
  .wrap .conatiner .conatiner__left {
    width: 100%;
    height: 50%;
  }
  .wrap .conatiner .conatiner__right {
    width: 100%;
    height: 50%;
    border-radius: 0px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  .conatiner__left__block2__ch2__select_1 {
    top: 55%;
  }
  .conatiner__left__block2__ch2__select_2 {
    top: 70%;
  }
  .conatiner__left__block2__ch2__select_3 {
    top: 84%;
  }
  .conatiner__left__block2__ch2__select {
    width: 257px;
  }
}

/*# sourceMappingURL=style.css.map */
